<li class="header">AGENDA</li>
<li class="active"><a href="/agenda"><i class="fa fa-calendar"></i> <span>Overview</span></a></li>
<li class="treeview">
  <a href="#"><i class="fa fa-cogs"></i> <span>Configuration</span> <i class="fa fa-angle-left pull-right"></i></a>
  <ul class="treeview-menu">
    <li><a href="/agenda/project"> <i class="fa fa-briefcase"></i>Project</a></li>
    <li><a href="/agenda/status"><i class="fa fa-check"></i>Status</a></li>
    <li><a href="/agenda/priority"><i class="fa fa-flag"></i>Priority</a></li>
    <li><a href="/agenda/entry"><i class="fa fa-calendar-o"></i>Entry</a></li>
  </ul>
</li>