{% extends "layout.html" %}
{% block title %}{{ modelname }}{% endblock %}
{% block subtitle %}Show Entries{% endblock %}

{% block content %}
    <div class="row">
    {% if object_list|length > 0 %}
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Overview</h3>
                    <div class="box-tools">
                        <a class="btn btn-success btn-sm" href="add">Add Entry</a>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            {% for object in object_list|slice:":1" %}
                                {% for field in object.get_fields %}
                                    <th>{{ field.verbose_name }}</th>
                                {% endfor %}
                                <th>Actions</th>
                            {% endfor %}
                        </tr>
                        {% for object in object_list %}
                            <tr>
                                {% for field in object.get_field_values %}
                                    <td>{{ field|safe }}</td>
                                {% endfor %}
                                <td><a class="btn btn-sm btn-info" href="edit/{{ object.id }}/">Edit</a> <a class="btn btn-danger btn-sm" href="delete/{{ object.id }}/">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <p>No entries.</p>
    {% endif %}
    </div>
{% endblock %}